$table-light-color: black;
$table-dark-color: rgb(151, 151, 151);
$button-color: rgb(11, 211, 191);

// Programmes page
.button_image{
    img{
        width: 90px;
    }
}

//Acts 29
#acts_title{
    img{
        width: 80px;
        transform: translate(-15%,25%);
    }
}
.acts_pre_program{
    .acts_pre_program_image{
        display: inline;
        img{
            max-width: min(100%,400px);
        }
    }
    .acts_pre_program_space{
        display: none;
        padding-left: 30px;
        margin: 0;
        height: 0;
        width: 0;
    }
}

.acts_poster_image{
    margin-left: auto;
    margin-right: auto;
    max-width: min(100%,400px);
}

// Campuses page
.colleges{
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    button{
        cursor: pointer;
    }
    #college_table_heading{
        text-align: center;
        font-size: 1.2em;
    }
    #college_find{
        #college_input_container{
            display: inline;
            #college_input{
                width: 30%;
                height: 1.7em;
                border: 1px solid black;
                border-radius: 3px;
            }
        }
        #TASC, #MEST, #campus_sort_container{
            display: inline;
            margin: 0;
            button{
                padding: 1px 5px;
                border: 1px solid black;
                border-radius: 5px;
                background-color: $button-color;
            }
        }
        #TASC, #MEST{
            font-size: 0.9em;
        }
        #campus_sort_container{
            font-size: 0.8em;
            padding-top: 0.2em;
            float: right;
        }
    }
    #college_table_container{
        float: left;
        #college_table{
            border: 2px solid $table-light-color;
            border-collapse: collapse;
            table-layout: fixed;
            .college_name{
                font-size: 1.2em;
                td{
                    border: none;
                    padding: 5px 10px 5px 10px;
                }
                .college_arrow_button{
                    padding-left: 5px;
                    padding-right: 0;
                    button{
                        width: 20px;
                        img{
                            width: 20px;
                        }
                        .arrow_up{
                            transform: rotate(-180deg);
                            -webkit-transform: rotate(-180deg);
                            -ms-transform: rotate(-180deg);
                            transition: transform 400ms;
                        }
                        .arrow_down{
                            transform: rotate(0deg);
                            -webkit-transform: rotate(0deg);
                            -ms-transform: rotate(0deg);
                            transition: transform 400ms;
                        }
                    }
                }
            }
            .college_description{
                font-size: 1em;
                .college_image{
                    float: left;
                    max-width: 350px;
                }
                .college_details{
                    float: left;
                    padding-left: 2em;
                    p{
                        margin-top: 0;
                        margin-bottom: 1em;
                    }
                    hr{
                        margin-top: 1em;
                        margin-bottom: 1em;
                    }
                }
            }
            .college_space{
                td{
                    background-color: $table-light-color;
                    height: 1.5px;
                    padding: 0;
                }
            }
        }
    }
}

// Campuses page, Updates page
.link{
    a{
        cursor: pointer;
        color: darkgreen;
    }
    a:hover{
        color: blue;
    }
}

// Contact Us page
.contact_us_space{
    display: none;
}

// Contact Us page
#contact_table{
    .contact_row{
        .logo{
            .logo_name{
                border: hidden;
                border-collapse: collapse;
                tr{
                    td{
                        text-align: center;
                        padding: 0;
                    }
                }
            }
        }
        .contact_table_details{
            padding-top: 10%;
            padding-right: 10px;
            font-size: 1.2em;
            word-break: initial;
            a{
                text-decoration: none;
                color: darkgreen;
                cursor: pointer;
            }
            a:hover{
                color: blue;
            }
        }
    }
}

// Only use dark mode on screens
@media screen {
    // Slate theme, i.e. dark mode
    [data-md-color-scheme="slate"] {
        .link{
            a{
                color: lightgreen;
            }
            a:hover{
                color: skyblue;
            }
        }

        #contact_table{
            .contact_table_details{
                a{
                    color: lightgreen;
                }
                a:hover{
                    color: skyblue;
                }
            }
        }

        .colleges{
            #college_table_heading{
                color: white;
            }
            #college_table_container{
                #college_table{
                    border-color: $table-dark-color;
                    .college_space{
                        td{
                            background-color: $table-dark-color;
                        }
                    }
                }
            }
            #college_find{
                #college_input_container{
                    #college_input{
                        border-color: lightslategray;
                        background-color: rgb(46,48,61);
                    }
                }
            }
        }
    }
}

// When width is more than 600px
@media screen and (min-width: 600px){
    .colleges{
        #college_table_heading{
            padding-bottom: 0.5em;
        }
        #college_find{
            #campus_sort_container{
                float: right;
            }
        }
    }
}

// When width is more than 700px
@media screen and (min-width: 700px){
    .contact_us_space{
        display: initial;
    }
    #contact_table{
        width: 600px;
        .contact_row{
            .logo{
                padding-left: 40px;
            }
            .contact_table_details{
                width: 75%;
                padding-left: 80px;
                padding-top: 7%;
            }
        }
    }
}

// When width is more than 1219px -> Nav bar change initiated
@media screen and (min-width: 1219px){
    .acts_pre_program{
        .acts_pre_program_space{
            display: inline;
        }
    }
}