{% import "partials/language.html" as lang with context %}

<!-- Footer -->
<footer class="md-footer">
  <div class="md-footer-meta md-typeset">
    <!-- Contact information -->
    <div class="contact_footer">
      <table class="contact_phone">
        <tr>
          <td class="name">
            Georgeena Sebastian<br>
            (Secretary)
          </td>
          <td class="phone">+91 75589 89481 <img src="/assets/whatsapp.png" alt="WhatsApp" width="24px"></td>
        </tr>
      </table>
    </div>
    <div class="contact_footer">
      <table class="contact_phone">
        <tr>
          <td class="name">
            Bijoy Thomas Thoombungal<br>
            (Media Coordinator)
          </td>
          <td class="phone">+91 82815 06096 <img src="/assets/whatsapp.png" alt="WhatsApp" width="24px"></td>
        </tr>
      </table>
    </div>
  </div>
</footer>