.button_image img {
  width: 90px;
}

#acts_title img {
  width: 80px;
  transform: translate(-15%, 25%);
}

.acts_pre_program .acts_pre_program_image {
  display: inline;
}
.acts_pre_program .acts_pre_program_image img {
  max-width: min(100%, 400px);
}
.acts_pre_program .acts_pre_program_space {
  display: none;
  padding-left: 30px;
  margin: 0;
  height: 0;
  width: 0;
}

.acts_poster_image {
  margin-left: auto;
  margin-right: auto;
  max-width: min(100%, 400px);
}

.colleges {
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
}
.colleges button {
  cursor: pointer;
}
.colleges #college_table_heading {
  text-align: center;
  font-size: 1.2em;
}
.colleges #college_find #college_input_container {
  display: inline;
}
.colleges #college_find #college_input_container #college_input {
  width: 30%;
  height: 1.7em;
  border: 1px solid black;
  border-radius: 3px;
}
.colleges #college_find #TASC, .colleges #college_find #MEST, .colleges #college_find #campus_sort_container {
  display: inline;
  margin: 0;
}
.colleges #college_find #TASC button, .colleges #college_find #MEST button, .colleges #college_find #campus_sort_container button {
  padding: 1px 5px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #0bd3bf;
}
.colleges #college_find #TASC, .colleges #college_find #MEST {
  font-size: 0.9em;
}
.colleges #college_find #campus_sort_container {
  font-size: 0.8em;
  padding-top: 0.2em;
  float: right;
}
.colleges #college_table_container {
  float: left;
}
.colleges #college_table_container #college_table {
  border: 2px solid black;
  border-collapse: collapse;
  table-layout: fixed;
}
.colleges #college_table_container #college_table .college_name {
  font-size: 1.2em;
}
.colleges #college_table_container #college_table .college_name td {
  border: none;
  padding: 5px 10px 5px 10px;
}
.colleges #college_table_container #college_table .college_name .college_arrow_button {
  padding-left: 5px;
  padding-right: 0;
}
.colleges #college_table_container #college_table .college_name .college_arrow_button button {
  width: 20px;
}
.colleges #college_table_container #college_table .college_name .college_arrow_button button img {
  width: 20px;
}
.colleges #college_table_container #college_table .college_name .college_arrow_button button .arrow_up {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transition: transform 400ms;
}
.colleges #college_table_container #college_table .college_name .college_arrow_button button .arrow_down {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transition: transform 400ms;
}
.colleges #college_table_container #college_table .college_description {
  font-size: 1em;
}
.colleges #college_table_container #college_table .college_description .college_image {
  float: left;
  max-width: 350px;
}
.colleges #college_table_container #college_table .college_description .college_details {
  float: left;
  padding-left: 2em;
}
.colleges #college_table_container #college_table .college_description .college_details p {
  margin-top: 0;
  margin-bottom: 1em;
}
.colleges #college_table_container #college_table .college_description .college_details hr {
  margin-top: 1em;
  margin-bottom: 1em;
}
.colleges #college_table_container #college_table .college_space td {
  background-color: black;
  height: 1.5px;
  padding: 0;
}

.link a {
  cursor: pointer;
  color: darkgreen;
}
.link a:hover {
  color: blue;
}

.contact_us_space {
  display: none;
}

#contact_table .contact_row .logo .logo_name {
  border: hidden;
  border-collapse: collapse;
}
#contact_table .contact_row .logo .logo_name tr td {
  text-align: center;
  padding: 0;
}
#contact_table .contact_row .contact_table_details {
  padding-top: 10%;
  padding-right: 10px;
  font-size: 1.2em;
  word-break: initial;
}
#contact_table .contact_row .contact_table_details a {
  text-decoration: none;
  color: darkgreen;
  cursor: pointer;
}
#contact_table .contact_row .contact_table_details a:hover {
  color: blue;
}

@media screen {
  [data-md-color-scheme=slate] .link a {
    color: lightgreen;
  }
  [data-md-color-scheme=slate] .link a:hover {
    color: skyblue;
  }
  [data-md-color-scheme=slate] #contact_table .contact_table_details a {
    color: lightgreen;
  }
  [data-md-color-scheme=slate] #contact_table .contact_table_details a:hover {
    color: skyblue;
  }
  [data-md-color-scheme=slate] .colleges #college_table_heading {
    color: white;
  }
  [data-md-color-scheme=slate] .colleges #college_table_container #college_table {
    border-color: #979797;
  }
  [data-md-color-scheme=slate] .colleges #college_table_container #college_table .college_space td {
    background-color: #979797;
  }
  [data-md-color-scheme=slate] .colleges #college_find #college_input_container #college_input {
    border-color: lightslategray;
    background-color: #2e303d;
  }
}
@media screen and (min-width: 600px) {
  .colleges #college_table_heading {
    padding-bottom: 0.5em;
  }
  .colleges #college_find #campus_sort_container {
    float: right;
  }
}
@media screen and (min-width: 700px) {
  .contact_us_space {
    display: initial;
  }

  #contact_table {
    width: 600px;
  }
  #contact_table .contact_row .logo {
    padding-left: 40px;
  }
  #contact_table .contact_row .contact_table_details {
    width: 75%;
    padding-left: 80px;
    padding-top: 7%;
  }
}
@media screen and (min-width: 1219px) {
  .acts_pre_program .acts_pre_program_space {
    display: inline;
  }
}

/*# sourceMappingURL=extra.css.map */
